# Arquivos de Configuração
tsconfig*.json
tsup.config.ts
vitest.config.ts
.github/

# Código Fonte e Testes
src/
tests/
**/*.test.ts
**/*.test.tsx

# Logs e Cache
node_modules/
.npmrc
npm-debug.log
.vitest-results/